@bg-dark-blue-text: #06466F;
@bg-dark-blue: #186D9C;
@bg-blue: #BDDCEC;
@bg-white: #FFFFFF;
@bg-dark-red: #FF0000;
@tablet-widths: ~"(min-width: 660px)";
@desktop-widths: ~"(min-width: 1200px)";
@mobile-widths-only: ~"(max-width: 659px)";
