.btn-reviews {
  border: none;
  background-color: transparent;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
  background-size: 68px;

  &--blue-right {
    background-image: url("../img/icons/right-blue.svg");

    &:hover {
      background-image: url("../img/icons/right-hover.svg");
    }

    &:active {
      background-image: url("../img/icons/right-active.svg");
    }
  }

  &--right {
    background-image: url("../img/icons/right.svg");

    &:hover {
      background-image: url("../img/icons/right-hover.svg");
    }

    &:active {
      background-image: url("../img/icons/right-active.svg");
    }
  }

  &--blue-left {
    background-image: url("../img/icons/left-blue.svg");

    &:hover {
      background-image: url("../img/icons/left-hover.svg");
    }

    &:active {
      background-image: url("../img/icons/left-active.svg");
    }
  }

  &--left {
    background-image: url("../img/icons/left.svg");

    &:hover {
      background-image: url("../img/icons/left-hover.svg");
    }

    &:active {
      background-image: url("../img/icons/left-active.svg");
    }
  }
}
