.btn-close {
  display: block;
  font-size: 0;
  border: none;
  background-color: transparent;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
  background-size: 68px;
  background-image: url("../img/icons/close.svg");

    &:hover {
      background-image: url("../img/icons/close-hover.svg");
    }

    &:active {
      background-image: url("../img/icons/close-active.svg");
    }
  }
