.header-contact{
  margin-left: auto;

}

.header-contact__text{
  .visuali-hidden;
}

.header-contact__phonenomber{
  text-decoration: none;
  color: @bg-white;
  font-size: 27px;
  font-family: "Tahoma";
  font-weight: 700;

}
