

.jsmove--left{
    --moveLeftStart: translateX(600px) translateY(0);
    --moveLeftStop: translateX(0) translateY(0);
    animation-name: move-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes move-left {
    0% {
        transform: var(--moveLeftStart) ;

    }

    100% {
        transform: var(--moveLeftStop);
    }
}

.jsmove--right{
    --moveRightStart: translateX(-600px) translateY(-300px);
    --moveRightStop: translateX(0) translateY(-300px);
    animation-name: move-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes move-right {
    0% {
        transform: var(--moveRightStart) ;
    }

    100% {
        transform: var(--moveRightStop);
    }
}
