.main-header{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 200px;
  display: block;
  background: url("../img/headerline.svg") no-repeat;
  background-size: 100% 200px;
  color: @bg-white;
  background-position: top;
  z-index: 20;

}

.main-header__inner {
  .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
