.main-footer {
  background-image: url("../img/footerlinesvg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 320px;
  min-height: 320px;
}

.main-footer__wrapper {
  .container;
  padding-top: 35px;
}

.main-footer__inner {
  display: flex;
  justify-content: space-between;
}

.main-footer__copyright {
  text-align: right;
}
