.main-nav{
.container;
display: flex;
justify-content: flex-end;
}

.main-nav__text-hidden{
  .visuali-hidden;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-right: 68px;
  padding: 0;

}

.main-nav__item{
  list-style: none;
  margin: 0 10px;
}

.main-nav__item a{
font-family: 'PFPlayskoolPro-3D';
text-decoration: none;
font-size: 19px;
line-height: 19px;
color: #ffffff;
text-transform: uppercase;

}
