.our-partners {
  display: block;
  min-height: 500px;
  padding-top: 184px;
}


.our-partners__title {
  display: block;
  margin: 0 auto;
  font-family: 'PFPlayskoolPro-3D';
  text-decoration: none;
  font-size: 70px;
  line-height: 75px;
  color: @bg-dark-blue-text;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
}
