.show-description {
  min-height: 500px;
}

.show-description__wrapper {
  .container;
  width: 780px;
  position: relative;
  padding-top: 100px;
}

.show-description__btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/icons/close3-blue.svg");
}

.show-description__title {
  color: @bg-dark-red;
  font-size: 35px;
  margin: 0 0 5px;
}

.show-description__strong-text {
  font-size: 20px;
  &--red{
    color:@bg-dark-red;
  }
}

.show-description__text {
  line-height: 22px;
  margin: 10px 0 0;
  font-size: 18px;
  &--red {
    color: @bg-dark-red;
    font-weight: 700;
  }
}

.show-description__old-price{
  margin-bottom: 10px;
  font-family: "Tahoma";
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 127px;
    height: 1px;
    background-color: red;
    transform: rotate(7deg) translate(-50%,-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 50%;
    width: 127px;
    height: 1px;
    background-color: red;
    transform: rotate(-7deg) translate(-50%,-50%);
  }
}

.show-description__text--characteristics {
  padding: 0;
  margin: 0;
  line-height: 19px;
  color: @bg-dark-red;
}

.show-description__text--characteristics b {
  color: @bg-dark-blue-text;
}

.show-description__list-title {
  line-height: 19px;
  font-size: 18px;
}

.show-description__list {
  line-height: 19px;
  font-size: 18px;
  list-style: none;
  margin: 3px 0 15px;
  padding-left: 12px;
}

.show-description__item {
  position: relative;
  line-height: 21px;
  font-size: 18px;
}

.show-description__item::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50% 50%;
  background-color: @bg-dark-red;
  left: -12px;
  top: 0;
  transform: translateY(142%);
}

.show-description__characteristics {
  margin-top: 30px;
}

.show-description__btn {
  margin: 49px auto 0;
  width: 256px;
  height: 38px;
  font-size: 19px;
}

.show-description__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 55px;
  padding: 0;
}

.show-description__gallery-item {
  list-style: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show-description__gallery-item p{
  text-align: center;
  font-weight: 700;
  width: 175px;
}

.show-description__gallery-item img {

  width: 240px;
  height: auto;
}

.show-description__gallery-item--animat img{
  width: 175px;
  height: auto;
}

.show-description__video {
  margin: 50px auto 0;
  width: 465px;
}
